<mat-card>
  <mat-card-header>
    <mat-card-title>Créer un acteur</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <form (ngSubmit)="submitForm()" [formGroup]="ActorForm">
      <mat-form-field>
        <input matInput placeholder="Nom" type="text">
      </mat-form-field>
      <mat-card-actions>
        <button (click)="cancelActorsCreate()" mat-raised-button="">Annuler</button>
        <button [disabled]="ActorForm.invalid" color="primary" mat-raised-button type="submit">
          Créer
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
