<mat-card>
  <mat-card-header>
    <mat-card-title>Modifier un film</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <mat-divider></mat-divider>

    <form (ngSubmit)="submitForm()" [formGroup]="movieForm">


      <mat-form-field>
        <mat-label>id</mat-label>

      </mat-form-field>

      <mat-form-field>
        <mat-label>Title</mat-label>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Category</mat-label>

      </mat-form-field>


      <mat-form-field>
        <mat-label>releaseYear</mat-label>

      </mat-form-field>

      <mat-form-field>
        <mat-label>Type</mat-label>

      </mat-form-field>


      <mat-form-field>
        <mat-label>poster</mat-label>

      </mat-form-field>

      <mat-form-field>
        <mat-label>directors</mat-label>

      </mat-form-field>

      <mat-form-field>
        <mat-label>synopsis</mat-label>

      </mat-form-field>

      <mat-form-field>
        <mat-label>rate</mat-label>

      </mat-form-field>

      <mat-form-field>
        <mat-label>lastViewDate</mat-label>

      </mat-form-field>

      <mat-form-field>
        <mat-label>price</mat-label>

      </mat-form-field>

      <mat-card-actions>
        <button [disabled]="movieForm.invalid" color="primary" mat-raised-button type="submit">
          Sauver
        </button>
        <button (click)="cancelMoviesDetail()" class="uppercase" mat-raised-button="">Annuler</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
