<section class="tableList">
  <article>


    <table mat-table class="mat-elevation-z8" [dataSource]="datasource">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>uid</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>
      <ng-container matColumnDef="visibility">
        <th mat-header-cell *matHeaderCellDef>Details</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button="" (click)="goToEditActor(element)">
            <mat-icon>visibility</mat-icon>
          </button>
        </td>
      </ng-container>

      <!--<ng-container matColumnDef="visibility">
        <th mat-header-cell *matHeaderCellDef>Details</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button="" (click)="deleteActors(element)">
            <mat-icon>visibility</mat-icon>
          </button>
        </td>
      </ng-container>-->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[20, 50, 75]" showFirstLastButtons></mat-paginator>
  </article>
</section>
