<section class="tableList">
  <article>
    <table mat-table class="mat-elevation-z8" [dataSource]="datasource2">
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{element.description}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Category</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Titre</th>
        <td mat-cell *matCellDef="let element">{{element.title}}</td>
      </ng-container>

      <ng-container matColumnDef="releaseYear">
        <th mat-header-cell *matHeaderCellDef>releaseYear</th>
        <td mat-cell *matCellDef="let element">{{element.releaseYear}}</td>
      </ng-container>
      <ng-container matColumnDef="poster">
        <th mat-header-cell *matHeaderCellDef>poster</th>
        <td mat-cell *matCellDef="let element">{{element.poster}}</td>
      </ng-container>
      <ng-container matColumnDef="synopsis">
        <th mat-header-cell *matHeaderCellDef>synopsis</th>
        <td mat-cell *matCellDef="let element">{{element.synopsis}}</td>
      </ng-container>
      <ng-container matColumnDef="synopsis">
        <th mat-header-cell *matHeaderCellDef>synopsis</th>
        <td mat-cell *matCellDef="let element">{{element.synopsis}}</td>
      </ng-container>
      <ng-container matColumnDef="rate">
        <th mat-header-cell *matHeaderCellDef>rate</th>
        <td mat-cell *matCellDef="let element">{{element.rate}}</td>
      </ng-container>

      <ng-container matColumnDef="lastViewDate">
        <th mat-header-cell *matHeaderCellDef>lastViewDate</th>
        <td mat-cell *matCellDef="let element">{{element.lastViewDate}}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>price</th>
        <td mat-cell *matCellDef="let element">{{element.price}}</td>
      </ng-container>

      <ng-container matColumnDef="visibility">
        <th mat-header-cell *matHeaderCellDef>Details</th>
        <td mat-cell *matCellDef="let element">
          <button (click)="goToMoviesDetail(element)" mat-icon-button="">
            <mat-icon>visibility</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
    </table>
  </article>
</section>
