<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button [routerLink]="['/list-movies']" mat-menu-item>Movies</button>
  <button [routerLink]="['/list-actors']"mat-menu-item>Actors</button>
</mat-menu>
